<div class="container-fluid pl-0 pr-0 ml-0 mr-0" style="overflow-x:hidden">
  <div class="row pl-0 pr-0">
    <div class="col-6 pl-0 pr-0">
      <img class="pl-0" style="width: 100%; height: 100%" src="assets/photos/ruiqi_li.jpg" />
    </div>
    <div class="col-6 pr-0 pl-0">
      <div style="padding:100px">
        <p class="display-1">Our History</p>
        <h4 class="pt-3">
          University of Waterloo Backpacker’s Associations (UWBA) is a student run club founded in
          September 2018 at the University of Waterloo. We teach students how to travel economically,
          and meet others of similar interest!
        </h4>
        <h4>
          We created an online magazine to put the spotlight on students who have gone out of their
          comfort zone to travel the world. We ask them essential questions to curate their tips and
          gain insights on their motivations to inspire the rest of us!
        </h4>
      </div>      
    </div>
  </div>
</div>
