<div class="row" style="margin-top: 100px">
   <div class="col-3" style="position: sticky; margin-right: 0; padding-right: 0">
       <div style="margin-bottom:20px">
            <div class="wrapper0">
                <div id = "first" class = "button-text" (click)="showList(0)">Discounts</div>
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
                        <path d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 
                                    12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903
                                    5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678
                                    2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882
                                    4.883-12.796 0-17.678z"/>
                    </svg>
                </div>
            </div>
        
            <div class="wrapper1">
                <div  id = "second" class = "button-text" (click)="showList(1)">Accommodation</div>
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
                        <path d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 
                                    12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903
                                    5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678
                                    2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882
                                    4.883-12.796 0-17.678z"/>
                    </svg>
                </div>
            </div>
                            
            <div class="wrapper2">
                <div  id = "third" class = "button-text" (click)="showList(2)" >Flights</div>
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
                        <path d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 
                                    12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903
                                    5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678
                                    2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882
                                    4.883-12.796 0-17.678z"/>
                    </svg>
                </div>
            </div>
    
    
            <div class="wrapper3">
                <div  id = "fourth" class = "button-text" (click)="showList(3)">Tourism</div>
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
                        <path d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 
                                    12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903
                                    5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678
                                    2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882
                                    4.883-12.796 0-17.678z"/>
                    </svg>
                </div>
            </div>
       </div>
    </div>

    <div class="col-9" style="margin-left: 0; padding-left: 0">
            <div *ngIf="showDiscount">
                <div class="col-11">
                    <img style="width: 85%; text-align: center; 
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" src="{{discountList[0].imageUrl}}">
                </div>
            </div>

            <div *ngIf="showAccommodation">
                <div class = "row" *ngFor="let accommodationRow of accommodationList">
                        <div class="col-3 max-dimensions " *ngFor="let eachAccommodation of accommodationRow">
                            <div class="card card-styling ">
                                <a style="vertical-align: middle; text-align: center; " href="{{eachAccommodation.websiteUrl}}"><img class="max-dimensions" src={{eachAccommodation.imageUrl}}></a>
                            </div>
                        </div>
                </div>
            </div>
        
            <div *ngIf="showFlight">
                <div class = "row" *ngFor="let flightRow of flightList">
                    <div class="col-3 max-dimensions " *ngFor="let eachFlight of flightRow">
                        <div class="card card-styling ">
                            <a style="vertical-align: middle; text-align: center; " href="{{eachFlight.websiteUrl}}"><img class="max-dimensions" src={{eachFlight.imageUrl}}></a>
                        </div>
                    </div>
                </div>
            </div>
        
            <div *ngIf="showTourism">
                <div class = "row" *ngFor="let tourismRow of tourismList">
                    <div class="col-3 max-dimensions " *ngFor="let eachTourism of tourismRow">
                        <div class="card card-styling ">
                            <a style="vertical-align: middle; text-align: center; " href="{{eachTourism.websiteUrl}}"><img class="max-dimensions" src={{eachTourism.imageUrl}}></a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
