<div class="row row-spacing">
    <div class="col-md-4 col-sm-12 border-single" id="main_heading">
      <h1>"{{interviewees[intervieweeId].headerQuote}}"</h1>
      <h3>Follow along {{interviewees[intervieweeId].name}}'s journey on how backpacking became their biggest passion </h3>
    </div>
    <div class="col-md-8 col-sm-12 p-0">
        <img id ="header-photo"src="assets/photos/{{interviewees[intervieweeId].headerPhoto}}" class="shadow">
    </div>
</div>

   <router-outlet></router-outlet>

  <div class="main_body">
    <div class="row row-spacing">
      <div class="col-1 border-single social-panel-fixed">
        <div class="social-panel-fixed">
          <a href="https://www.facebook.com/UWBA2018"><img src="assets/photos/fb_logo.png" class="social_fonts" id="facebook_icon"></a>
          <a href="https://www.instagram.com/uwba2018/"><img src="assets/photos/insta_logo.png" class="social_fonts" id="instagram_icon"></a>
        </div>
      </div>

      <div class="col-11 border-single" id="main_question_area">

          <p class="question_heading">
              Where is your favourite backpacking destination and why?
          </p>
          <p class="answer_text">
            {{interviewees[intervieweeId].favouriteDestination}}
          </p>
          
        <img src="assets/photos/{{interviewees[intervieweeId].widePhoto}}" class="wide-photo shadow">

          <p class="question_heading">
              What country is next on your bucket list? 
          </p>
          <div class="row answer_text">
            <div class="col-12">
              {{interviewees[intervieweeId].nextCountry}}
            </div>
          </div>
  
          <!-- Question 3: Was there anything you wish you knew prior to backpacking? -->
          <p class="question_heading">
              Was there anything you wish you knew prior to backpacking?
          </p>
          <p class="answer_text">
            {{interviewees[intervieweeId].knewPrior}}
          </p>
          <div class="image_gallery">
            <img src="assets/photos/{{interviewees[intervieweeId].img2}}" class="img-gallery_individual shadow">
            <img src="assets/photos/{{interviewees[intervieweeId].img5}}" class="img-gallery_individual shadow">
            <img src="assets/photos/{{interviewees[intervieweeId].img4}}" class="img-gallery_individual shadow">
            <img src="assets/photos/{{interviewees[intervieweeId].img6}}" class="img-gallery_individual shadow">
          </div>
  
          <br>
          <br>
          
          <p class="question_heading">
              What did you expect on your trip(s)? 
          </p>
          <p class="answer_text">
            {{interviewees[intervieweeId].tripExpectations}}
          </p>

          <div class="row answer_text">
            <div class="col-6" >
            <blockquote class="generic-blockquote">
                  {{interviewees[intervieweeId].firstQuote}}
              </blockquote>      
            </div>
            <div class="col-6">
              <img src="assets/photos/{{interviewees[intervieweeId].img1}}" style = "width: 100%; border-radius:1" class="shadow">
            </div>
          </div>
        
          <p class="question_heading">
              If you recommended backpacking to a friend, what would your advice be? 
          </p>
          <p class="answer_text">
            {{interviewees[intervieweeId].recommendations}}
          </p>
      </div>
     </div>
  </div> 
