<div class="row row_spacing">
    <div class="col-md-4 col-sm-12 border-single" id="main_heading">
      <h1>"{{interviewees[intervieweeId].headerQuote}}"</h1>
      <h3>Follow along {{interviewees[intervieweeId].name}}'s journey on how backpacking became their biggest passion </h3>
    </div>
    <div class="col-md-8 col-sm-12 p-0 border-single">
        <img id ="ruiqi_li"src="assets/photos/{{interviewees[intervieweeId].headerPhoto}}">
    </div>
</div>

   <router-outlet></router-outlet>

  <div class="main_body">
    <div class="row row_spacing">
      <div class="col-1 border-single social-panel-fixed">
        <div class="social-panel-fixed">
          <img src="assets/photos/fb_logo.png" class="social_fonts" id="facebook_icon">
          <img src="assets/photos/insta_logo.png" class="social_fonts" id="instagram_icon">
        </div>
      </div>

      <div class="col-11 border-single" id="main_question_area">
        <!--What inspired you to start backpacking?-->
        <div *ngIf="interviewees[intervieweeId].backpackingInspiration">
          <p class="question_heading">
            What inspired you to start backpacking?
          </p>
          <p class="answer_text">
            {{interviewees[intervieweeId].backpackingInspiration}}
          </p>
        </div>
        <img src="assets/photos/{{interviewees[intervieweeId].longPhoto}}" class="full_sized_image">
        <blockquote class="generic-blockquote">
          {{interviewees[intervieweeId].secondQuote}}
        </blockquote>
        <div class="image_gallery">
          <img src="assets/photos/{{interviewees[intervieweeId].img1}}" class="img-gallery_individual">
          <img src="assets/photos/{{interviewees[intervieweeId].img2}}" class="img-gallery_individual">
          <img src="assets/photos/{{interviewees[intervieweeId].img3}}" class="img-gallery_individual">
          <img src="assets/photos/{{interviewees[intervieweeId].img4}}" class="img-gallery_individual">
        </div>
        <!--What does a typical day look like?-->
        <div *ngIf="interviewees[intervieweeId].typicalDay">
          <p class="question_heading">
            What does a typical day when you’re backpacking look like?
          </p>
          <div class="row">
            <div class="col-6">
              {{interviewees[intervieweeId].typicalDay}}
            </div>
            <div class="col-6">
              <img src="assets/photos/{{interviewees[intervieweeId].typicalDayPhoto}}" style=" width: 100%">
            </div>
          </div>
        </div>
        <blockquote class="generic-blockquote">
          {{interviewees[intervieweeId].thirdQuote}}
        </blockquote>
        <!--What’s something interesting that you bring on your trips?-->
        <div *ngIf="interviewees[intervieweeId].interestingBringOnTrip">
          <p class="question_heading">
            What’s something interesting that you bring on your trips?
          </p>
          <p class="answer_text">
            {{interviewees[intervieweeId].interestingBringOnTrip}}
          </p>
        </div>
        <!--What are the most common challenges for students to go backpacking?-->
        <div *ngIf="interviewees[intervieweeId].challenge1">
          <p class="question_heading">
            What are the most common
            challenges for students to go backpacking?
          </p>
          <p class="answer_text">
            "{{interviewees[intervieweeId].challenge1}}"
          </p>
          <p class="answer_text">
            "{{interviewees[intervieweeId].challenge2}}"
          </p>
          <p class="answer_text">
            "{{interviewees[intervieweeId].challenge3}}"
          </p>
          <p class="answer_text">
            "{{interviewees[intervieweeId].challenge4}}"
          </p>
          <p class="answer_text">
            "{{interviewees[intervieweeId].challenge5}}"
          </p>
        </div>
        <blockquote class="generic-blockquote">
          "{{interviewees[intervieweeId].fourthQuote}}"
        </blockquote>
        <!--Any advice for backpacking newbies?-->
        <div *ngIf="interviewees[intervieweeId].advice">
          <p class="question_heading">
            Any other advice for backpacking newbies?
          </p>
          <p class="answer_text">
            {{interviewees[intervieweeId].advice}}
          </p>
        </div>
        <!--Anything you want to recommend, promote or plug?-->
        <div *ngIf="interviewees[intervieweeId].recommend1">
          <p class="question_heading">
            Anything you want to recommend, promote or plug?
          </p>
          <p class="answer_text">
            {{interviewees[intervieweeId].recommend1}}
          </p>
          <p>
            {{interviewees[intervieweeId].recommend2}}
          </p>
        </div>
      </div>
     </div>
  </div>
