<div class="mt-1 pb-3" style="padding-bottom: 250px;">
  <!--DESKTOP MENU-->
  <div class="hide-mobile">
    <div style="position: relative">
      <img class="img-fluid" style="z-index: 100;margin-left:auto;margin-right:auto;left:0;right:0;width:200px;height:200px;position: absolute;top: -52px" src="assets/photos/uwba_logo.png" />
      <span class="dot" style="position: absolute;
      width: 211px;
      height: 211px;
      margin-left:auto;margin-right:auto;left:0;right:0;
      z-index: 99;
      border-radius: 50%;
      top: -60px;
      background: #FFFFFF;"></span>
    </div>
    <ul class="nav justify-content-center" style="margin-top: 50px; font-size: 20px">
      <li class="nav-item ml-5">
        <a class="nav-link" href="#">Interviews</a>
      </li>
      <li class="nav-item" style="padding-left:15px;padding-right:150px;">
        <a class="nav-link disabled" href="#">Blogs</a>
      </li>
      <li class="nav-item" style="padding-left:150px;padding-right:15px">
        <a class="nav-link disabled" href="#">About</a>
      </li>
      <li class="nav-item mr-5">
        <a class="nav-link disabled" href="#">Contact</a>
      </li>
    </ul>
  </div>

  <!--MOBILE MENU-->
  <div class="show-mobile" style="font-size: 50px">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">UWBA.</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02" style="font-size: 15px">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Interviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<router-outlet></router-outlet>

<!-- FOOTER -->
<div style="height: 280px; padding-top: 70px; font-size: 19px" class="w-100 text-center">
  <strong>Follow us! Be the first to hear about our <br /> new interviews, blogs, and events!</strong>
  <ul class="nav justify-content-center pt-3">
    <li class="nav-item">
      <a class="nav-link" href="#"><img style="height: 50px; width: 50px" src="assets/photos/insta_logo.png" /></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://www.facebook.com/groups/360989171335320/"><img style="height: 50px; width: 50px" src="assets/photos/fb_logo.png" /></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><img style="height: 50px; width: 50px" src="assets/photos/email_logo.png" /></a>
    </li>
  </ul>
</div>

<div style="background-color:#1d1d1d; height: 150px; padding-top: 65px" class="w-100 text-center">
  <p class="mb-0" style="color: white; display: inline">Interviews / </p>
  <p class="mb-0" style="color: white; display: inline">Blogs / </p>
  <p class="mb-0" style="color: white; display: inline">About / </p>
  <p class="mb-0" style="color: white; display: inline">Contact</p>
</div>
