<div class="row border" style="margin-top: 100px">
   <div class="col-3 border">
            <button (click) = "showAccommodationDropDown()" >Accommodation</button>
            <div *ngIf="accommodationDropdown" class="dropdown-option">
                <div (click) = "showLinks($event)">
                   <option value="Hotels" class="border dropdown-option">Hotels</option>
                   <option value="Hostels" class="border dropdown-option">Hostels</option>
                   <option value="Airbnb" class="border dropdown-option">Airbnb</option>
                </div>
            </div>
            <br>
            <button (click) = "showFlightsDropdown()" >Flights</button>
            <div *ngIf="flightsDropdown" class="dropdown-option">
                <div (click) = "showLinks($event)">
                   <option value="Hotels" class="border dropdown-option">Hotels</option>
                   <option value="Hostels" class="border dropdown-option">Hostels</option>
                   <option value="Airbnb" class="border dropdown-option">Airbnb</option>
                </div>
            </div>
            <br>
            <button (click) = "showTourismDropdown()" >Tourism</button>
            <div *ngIf="tourismdropDown" class="dropdown-option">
                <div (click) = "showLinks($event)">
                   <option value="Hotels" class="border dropdown-option">Hotels</option>
                   <option value="Hostels" class="border dropdown-option">Hostels</option>
                   <option value="Airbnb" class="border dropdown-option">Airbnb</option>
                </div>
            </div>
            <br>
            <button (click) = "showVisaDropdown()" >Visa</button>
            <div *ngIf="visaDropdown" class="dropdown-option">
                <div (click) = "showLinks($event)">
                   <option value="Hotels" class="border dropdown-option">Hotels</option>
                   <option value="Hostels" class="border dropdown-option">Hostels</option>
                   <option value="Airbnb" class="border dropdown-option">Airbnb</option>
                </div>
            </div>
   </div>


   <div [ngSwitch]="selectedLink" class="col-9">
        <div *ngSwitchCase="'Hostels'">
            <div class="row" *ngFor="let accommodation of accommodations">
                <div class="col-3" *ngFor="let eachAccommodation of accommodation">
                    <div class="card">
                        <p>{{eachAccommodation}}</p>
                    </div>  
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'Hotels'">
            <div class="row" *ngFor="let accommodation of accommodations">
                <div class="col-3" *ngFor="let eachAccommodation of accommodation">
                    <div class="card">
                        <p>{{eachAccommodation}}</p>
                    </div>  
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'Airbnb'">
            <div class="row" *ngFor="let accommodation of accommodations">
                <div class="col-3" *ngFor="let eachAccommodation of accommodation">
                    <div class="card">
                        <p>{{eachAccommodation}}</p>
                    </div>  
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'Hostels'">
            <div class="row" *ngFor="let accommodation of accommodations">
                <div class="col-3" *ngFor="let eachAccommodation of accommodation">
                    <div class="card">
                        <p>{{eachAccommodation}}</p>
                    </div>  
                </div>
            </div>
        </div>
   </div>

   <div [ngSwitch]="selectedLink" class="col-9">
        <div *ngSwitchCase="'Hostels'">
            <div class="row" *ngFor="let accommodation of accommodations">
                <div class="col-3" *ngFor="let eachAccommodation of accommodation">
                    <div class="card">
                        <p>{{eachAccommodation}}</p>
                    </div>  
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'Hotels'">
            <div class="row" *ngFor="let accommodation of accommodations">
                <div class="col-3" *ngFor="let eachAccommodation of accommodation">
                    <div class="card">
                        <p>{{eachAccommodation}}</p>
                    </div>  
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'Hostels'">
            <div class="row" *ngFor="let accommodation of accommodations">
                <div class="col-3" *ngFor="let eachAccommodation of accommodation">
                    <div class="card">
                        <p>{{eachAccommodation}}</p>
                    </div>  
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'Hostels'">
            <div class="row" *ngFor="let accommodation of accommodations">
                <div class="col-3" *ngFor="let eachAccommodation of accommodation">
                    <div class="card">
                        <p>{{eachAccommodation}}</p>
                    </div>  
                </div>
            </div>
        </div>
    </div>


    <div [ngSwitch]="selectedLink" class="col-9">
        <div *ngSwitchCase="'Hostels'">
            <div class="row" *ngFor="let accommodation of accommodations">
                <div class="col-3" *ngFor="let eachAccommodation of accommodation">
                    <div class="card">
                        <p>{{eachAccommodation}}</p>
                    </div>  
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'Hotels'">
            <div class="row" *ngFor="let accommodation of accommodations">
                <div class="col-3" *ngFor="let eachAccommodation of accommodation">
                    <div class="card">
                        <p>{{eachAccommodation}}</p>
                    </div>  
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'Hostels'">
            <div class="row" *ngFor="let accommodation of accommodations">
                <div class="col-3" *ngFor="let eachAccommodation of accommodation">
                    <div class="card">
                        <p>{{eachAccommodation}}</p>
                    </div>  
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'Hostels'">
            <div class="row" *ngFor="let accommodation of accommodations">
                <div class="col-3" *ngFor="let eachAccommodation of accommodation">
                    <div class="card">
                        <p>{{eachAccommodation}}</p>
                    </div>  
                </div>
            </div>
        </div>
    </div>


    <div [ngSwitch]="selectedLink" class="col-9">
        <div *ngSwitchCase="'Hostels'">
            <div class="row" *ngFor="let accommodation of accommodations">
                <div class="col-3" *ngFor="let eachAccommodation of accommodation">
                    <div class="card">
                        <p>{{eachAccommodation}}</p>
                    </div>  
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'Hotels'">
            <div class="row" *ngFor="let accommodation of accommodations">
                <div class="col-3" *ngFor="let eachAccommodation of accommodation">
                    <div class="card">
                        <p>{{eachAccommodation}}</p>
                    </div>  
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'Hostels'">
            <div class="row" *ngFor="let accommodation of accommodations">
                <div class="col-3" *ngFor="let eachAccommodation of accommodation">
                    <div class="card">
                        <p>{{eachAccommodation}}</p>
                    </div>  
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'Hostels'">
            <div class="row" *ngFor="let accommodation of accommodations">
                <div class="col-3" *ngFor="let eachAccommodation of accommodation">
                    <div class="card">
                        <p>{{eachAccommodation}}</p>
                    </div>  
                </div>
            </div>
        </div>
    </div>
<!-- 
   <div [ngSwitch]="selectedLink" class = "col-9" >
        <div *ngSwitchCase="'Hostels'">
               <div class="row">
                    <div class="col-3">
                        <div class="card">
                            <p>hello my d00d</p>
                        </div>  
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <p>hello my d00d</p>
                        </div>    
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <p>hello my d00d</p>
                        </div>                
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <p>hello my d00d</p>
                        </div>                   
                </div>
               </div>

               <div class="row">
                    <div class="col-3" >
                        <div class="card">
                            <p>hello my d00d</p>
                        </div>  
                    </div>
                    <div class="col-3" >
                        <div class="card">
                            <p>hello my d00d</p>
                        </div>    
                    </div>
                    <div class="col-3" >
                        <div class="card">
                            <p>hello my d00d</p>
                        </div>                
                    </div>
                    <div class="col-3" >
                        <div class="card">
                            <p>hello my d00d</p>
                        </div>                   
                    </div>
               </div>

               <div class="row">
                    <div class="col-3" >
                        <div class="card">
                            <p>hello my d00d</p>
                        </div>  
                    </div>
                    <div class="col-3" >
                        <div class="card">
                            <p>hello my d00d</p>
                        </div>    
                    </div>
                    <div class="col-3" >
                        <div class="card">
                            <p>hello my d00d</p>
                        </div>                
                    </div>
                    <div class="col-3" >
                        <div class="card">
                            <p>hello my d00d</p>
                        </div>                   
                    </div>
               </div>

               <div class="row">
                    <div class="col-3" >
                        <div class="card">
                            <p>hello my d00d</p>
                        </div>  
                    </div>
                    <div class="col-3" >
                        <div class="card">
                            <p>hello my d00d</p>
                        </div>    
                    </div>
                    <div class="col-3" >
                        <div class="card">
                            <p>hello my d00d</p>
                        </div>                
                    </div>
                    <div class="col-3" >
                        <div class="card">
                            <p>hello my d00d</p>
                        </div>                   
                    </div>
               </div>
        <div *ngSwitchCase="'Hotels'">
            These are hotels
        </div>
        <div *ngSwitchCase="'Airbnb'">
            These are Airbnb
        </div>
   </div>

   <div *ngSwitchCase="'Hotels'">
        <div class="row">
             <div class="col-3">
                 <div class="card">
                     <p>hello my d00d</p>
                 </div>  
             </div>
             <div class="col-3">
                 <div class="card">
                     <p>hello my d00d</p>
                 </div>    
             </div>
             <div class="col-3">
                 <div class="card">
                     <p>hello my d00d</p>
                 </div>                
             </div>
             <div class="col-3">
                 <div class="card">
                     <p>hello my d00d</p>
                 </div>                   
             </div>
        </div>

        <div class="row">
             <div class="col-3" >
                 <div class="card">
                     <p>hello my d00d</p>
                 </div>  
             </div>
             <div class="col-3" >
                 <div class="card">
                     <p>hello my d00d</p>
                 </div>    
             </div>
             <div class="col-3" >
                 <div class="card">
                     <p>hello my d00d</p>
                 </div>                
             </div>
             <div class="col-3" >
                 <div class="card">
                     <p>hello my d00d</p>
                 </div>                   
             </div>
        </div>

        <div class="row">
             <div class="col-3" >
                 <div class="card">
                     <p>hello my d00d</p>
                 </div>  
             </div>
             <div class="col-3" >
                 <div class="card">
                     <p>hello my d00d</p>
                 </div>    
             </div>
             <div class="col-3" >
                 <div class="card">
                     <p>hello my d00d</p>
                 </div>                
             </div>
             <div class="col-3" >
                 <div class="card">
                     <p>hello my d00d</p>
                 </div>                   
             </div>
        </div>

        <div class="row">
             <div class="col-3" >
                 <div class="card">
                     <p>hello my d00d</p>
                 </div>  
             </div>
             <div class="col-3" >
                 <div class="card">
                     <p>hello my d00d</p>
                 </div>    
             </div>
             <div class="col-3" >
                 <div class="card">
                     <p>hello my d00d</p>
                 </div>                
             </div>
             <div class="col-3" >
                 <div class="card">
                     <p>hello my d00d</p>
                 </div>                   
             </div>
        </div>
 <div *ngSwitchCase="'Hotels'">
     These are hotels
 </div>
 <div *ngSwitchCase="'Airbnb'">
     These are Airbnb
 </div>
</div>

<div *ngSwitchCase="'Airbnb'">
        <div class="row">
             <div class="col-3">
                 <div class="card">
                     <p>hello my d00d</p>
                 </div>  
             </div>
             <div class="col-3">
                 <div class="card">
                     <p>hello my d00d</p>
                 </div>    
             </div>
             <div class="col-3">
                 <div class="card">
                     <p>hello my d00d</p>
                 </div>                
             </div>
             <div class="col-3">
                 <div class="card">
                     <p>hello my d00d</p>
                 </div>                   
             </div>
        </div>

        <div class="row">
             <div class="col-3" >
                 <div class="card">
                     <p>hello my d00d</p>
                 </div>  
             </div>
             <div class="col-3" >
                 <div class="card">
                     <p>hello my d00d</p>
                 </div>    
             </div>
             <div class="col-3" >
                 <div class="card">
                     <p>hello my d00d</p>
                 </div>                
             </div>
             <div class="col-3" >
                 <div class="card">
                     <p>hello my d00d</p>
                 </div>                   
             </div>
        </div>

        <div class="row">
             <div class="col-3" >
                 <div class="card">
                     <p>hello my d00d</p>
                 </div>  
             </div>
             <div class="col-3" >
                 <div class="card">
                     <p>hello my d00d</p>
                 </div>    
             </div>
             <div class="col-3" >
                 <div class="card">
                     <p>hello my d00d</p>
                 </div>                
             </div>
             <div class="col-3" >
                 <div class="card">
                     <p>hello my d00d</p>
                 </div>                   
             </div>
        </div>

        <div class="row">
             <div class="col-3" >
                 <div class="card">
                     <p>hello my d00d</p>
                 </div>  
             </div>
             <div class="col-3" >
                 <div class="card">
                     <p>hello my d00d</p>
                 </div>    
             </div>
             <div class="col-3" >
                 <div class="card">
                     <p>hello my d00d</p>
                 </div>                
             </div>
             <div class="col-3" >
                 <div class="card">
                     <p>hello my d00d</p>
                 </div>                   
             </div>
        </div>
 <div *ngSwitchCase="'Hotels'">
     These are hotels
 </div>
 <div *ngSwitchCase="'Airbnb'">
     These are Airbnb
 </div>
</div>




</div> -->