<div class="row border" style="margin-top: 100px">
   <div class="col-3 border">
       <select name="" id=""> 
           <option value="Accommodation 1">Accommodation 1</option>
           <option value="Accommodation 2">Accommodation 2</option>
           <option value="Accommodation 3">Accommodation 3</option>
           <option value="Accommodation 4">Accommodation 4</option>
       </select>
       
   </div>
   <div class="col-2 border">
        <div class="row border">
            <div class="card">
                hello
            </div>
        </div>
        <div class="row border">
        <div class="card">
                hello
        </div>
        </div> 
        <div class="row border">
            <div class="card">
                    hello
            </div>
        </div>
        <div class="row border">
            <div class="card">
                    hello
            </div>
        </div>
   </div>
   <div class="col-2 border">
        <div class="row border">
            <div class="card">
                hello
            </div>
        </div>
        <div class="row border">
            <div class="card">
                    hello
            </div>
        </div> 
        <div class="row border center-cards">
                <div class="card">
                        hello
                </div>
        </div>
        <div class="row border">
                <div class="card">
                        hello
                </div>
        </div>
   </div>
   <div class="col-2 border">
        <div class="row border">
            <div class="card">
                hello
            </div>
        </div>
        <div class="row border">
            <div class="card">
                    hello
            </div>
        </div> 
        <div class="row border">
            <div class="card">
                    hello
            </div>
        </div>
        <div class="row border">
            <div class="card">
                    hello
            </div>
        </div>
   </div>
   <div class="col-2 border">
        <div class="row border">
            <div class="card">
                hello
            </div>
            </div>
            <div class="row border">
                <div class="card">
                        hello
                </div>
            </div> 
            <div class="row border">
                <div class="card">
                    hello
                </div>
            </div>
            <div class="row border">
               <div class="card">
                   hello
                </div>
            </div>
   </div>
</div>
