<!-- TITLE PAGE -->
<div class="mt-1 pb-3" style="padding-bottom: 250px;">

  <!-- INTERVIEW CONTAINER -->
  <div class="container pl-4 pr-4 pb-4" style="padding-bottom: 100px">
    <div class="row mt-4">

      <!-- SCROLLABLE INTERVIEW PHOTO -->
      <div class="col-md-12 col-lg-12 pb-3">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-fluid w-100 card-images" src="assets/photos/ruiqi_li.png" />
              <b><a style="font-size:25px" routerLink="/ruiqi-li">Ruiqi Li</a></b> <br>
              <div style="overflow-wrap:break-word" class="mt-3 mb-3">
                "I started backpacking by accident.
                Growing up in Kitchener, even though I had heard of backpacking and have met people who
                told me about their inspiring stories, I thought thatis a world that I would never ever get a chance to
                enter. During the first year, I had a 4 month summer break which is the only summer off in my
                program and I was keenly looking for something special to do."
              </div>
              <img class="img-fluid w-100 card-images" src="assets/photos/vetaParco/img1.jpg" />
              <div style="overflow-wrap:break-word" class="mt-3 mb-3">
                <b><a style="font-size:25px " routerLink="/interviews/1">Veta Parco</a></b> <br>
                  "Every time you go you are bound to see the same people from the last destination!"
              </div>
            </div>
            <div class="col-sm-3">
              <img class="img-fluid w-100 card-images" src="assets/photos/joanna/joannaHeaderPhoto.JPG" />
              <div style="overflow-wrap:break-word" class="mt-3 mb-3">
                <b><a style="font-size:25px " routerLink="/interviews/0">Joanna Rywak</a></b> <br>
                "I really like the mix of culture and nature you could get with visiting these two countries, and they’re both popular backpacking destinations."
              </div>
              <img class="img-fluid w-100 card-images" src="assets/photos/twins.jpg" />
              <div style="overflow-wrap:break-word" class="mt-3 mb-3">
                <b><a style="font-size:25px " routerLink="">John White</a></b> <br>
                "In the future, I might
                even pass you on the streets, maybe of New York, and we probably won&#39;t even
                recognise each other. Because the person we become will never be the same as the
                the childish, foolish, crazy one in our Polaroids. It turned out that the journey totally changed my life. In that program, I worked at the same place for 5 weeks, making a lot of friends with local people and students from all over the world. And then after the 5 weeks, I backpacked with those friends for 3 weeks in Europe, which was the best experience of my life."
              </div>
            </div>
            <div class="col-sm-3">
              <img class="img-fluid w-100 card-images" src="assets/photos/katy_perry.jpg" />
              <div style="overflow-wrap:break-word" class="mt-3 mb-3">
                <b><a style="font-size:25px " routerLink="">Coraline Stark</a></b> <br>
                "You don‘t have to be the craziest person that goes to the most exotic destination that you are not comfortable with. Honestly, just start from anywhere that you are curious about. Part of the important lesson to learn from backpacking is to be in a situation where you can be independent and you can make choices completely yourself, this is the best way to grow."
              </div>
              <img class="img-fluid w-100 card-images" src="assets/photos/katy_perry.jpg" />
              <div style="overflow-wrap:break-word" class="mt-3 mb-3">
                  <b><a style="font-size:25px " routerLink="">Timmy Tom</a></b> <br>
                  "In the future, I might
                even pass you on the streets, maybe of New York, and we probably won&#39;t even
                recognise each other. Because the person we become will never be the same as the
                the childish, foolish, crazy one in our Polaroids. <br><br>I 100% recommend to stay in a hostel when traveling because it is a great chance to meet people."
              </div>
            </div>
            <div class="col-sm-3">
              <img class="img-fluid w-100 card-images" src="assets/photos/twins.jpg" />
              <div style="overflow-wrap:break-word" class="mt-3 mb-3">
                <b><a style="font-size:25px " routerLink="">Frank Ocean</a></b> <br>
                "By coincidence, I was looking on Aiesec, which is a worldwide organization that help students find internships or work experience abroad. It was super last minute that I got matched with Ukraine. Back then, I didn’t even have a passport, and I literally received my passport 3 days before my flight. I was really naive at that time, and I did not know what was there waiting for me."
              </div>
              <img class="img-fluid w-100 card-images" src="assets/photos/ruiqi_li.png" />
              <div style="overflow-wrap:break-word" class="mt-3 mb-3">
                  <b><a style="font-size:25px " routerLink="">Fang Cho</a></b> <br>
                  "Breakfast is often provided for free at hostel and all the travellers would be at the same place for breakfast, which I found it the best chance to meet and talk to people. I usually just go to the breakfast and say something like “Hey, could you please pass me the jam.” to start a conversation."
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
