.card-images{
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
a{
    color: #000000;
}
a:hover{
    color:#82334F;
    text-decoration: none;
}