<!-- TITLE PAGE -->
<div class="mt-1 pb-3" style="padding-bottom: 250px;">

  <div class="container hide-mobile" style="position: relative">
    <div style="position:absolute; z-index: 100; top: 30%; left: 25%; color: white; font-size: 75px">Welcome to UWBA...</div>
    <div class="row">
      <div class="col-sm-12 col-md-4 p-0">
        <img class="img-fluid title_photos" src="assets/photos/city.PNG" />
      </div>
      <div class="col-sm-12 col-md-4 p-0">
        <img class="img-fluid title_photos" src="assets/photos/city.PNG" />
      </div>
      <div class="col-sm-12 col-md-4 p-0">
        <img class="img-fluid title_photos" src="assets/photos/city.PNG" />
      </div>
    </div>
  </div>

  <div class="show-mobile" style="position: relative">
    <div style="position:absolute; z-index: 100; top: 25%; left: 24%; color: white; font-size: 50px">Welcome to UWBA...</div>    <div class="col-md-12 p-0">
      <img class="img-fluid title_photos" src="assets/photos/city.PNG" />
    </div>
  </div>

  <h1 style="text-align: center; z-index: 100;margin-left:auto;margin-right:auto;left:0;right:0;width:500px;height:500px;position: absolute; top: 350px; color:white">{{title}}</h1>
</div>

<!-- INTERVIEW CONTAINER -->
<div class="container pl-4 pr-4 pb-4" style="padding-bottom: 100px">
  <div class="row mt-4">

    <!-- FEATURED PHOTO -->
    <div class="col-md-12 col-lg-6 pb-3" style="position:relative;">
      <img class="img-fluid w-100 card-image" src="assets/photos/featured.PNG" />
      <div style="z-index: 100;width:250px;height:250px;position: absolute;bottom: 15px; color: white; font-size: 60px; left: 50px">
        <p>
          <b>Ruiqi Li</b>
        </p>
        <a routerLink="/ruiqi-li">
          <p class="nav-link mx-auto d-block btn m-0" style="border-radius: 5px; background-color: #F0F0F0; width: 250px">Read the latest interview</p>
        </a>
      </div>
    </div>


    <!-- SCROLLABLE INTERVIEW PHOTO -->
    <div class="col-md-12 col-lg-6 pb-3" style="height:100vh; overflow-y: scroll;">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <img class="img-fluid w-100 card-image" src="assets/photos/joanna/joannaHeaderPhoto.JPG" />
            <div style="overflow-wrap:break-word" class="mt-3 mb-3">
              <b style="font-size:25px">Joanna Rywak</b><br />
              I was expecting to have fun, but not nearly as much as I did during my adventures. I would say that not
              having strict expectations makes your experience a whole lot more enjoyable because you don’t end up 
              having to compare your trip with anything else. The same thing goes with having flexible itineraries, 
              especially when travelling with a group.
            </div>
            <img class="img-fluid w-100 card-image" src="assets/photos/bryanChan/header.jpg" />
            <div style="overflow-wrap:break-word" class="mt-3 mb-3">
              <b><a style="font-size:25px " routerLink="/interviews/4">Bryan Chan</a></b> <br>
              Most of the things I wished I knew prior to backpacking could not be taught because it’s one of those things you just need to go through before you know.
            </div>
          </div>
          <div class="col-sm-6">
            <img class="img-fluid w-100 card-image" src="assets/photos/joseMontoya/joseMontoya.jpg" />
            <div style="overflow-wrap:break-word" class="mt-3 mb-3">
              <b><a style="font-size:25px " routerLink="/interviews/3">Jose Montoya</a></b> <br>
              "To get to know myself, what I like and dislike, how I react to sudden change, how well and fast I can adapt to a foreign environment."
            </div>
            <img class="img-fluid w-100 card-image" src="assets/photos/aliSaeed/header.png" />
            <div style="overflow-wrap:break-word" class="mt-3 mb-3">
              <b><a style="font-size:25px " routerLink="/interviews/2">Ali Saeed</a></b><br>
               "Do it once and you’ll be hooked like the rest of us."
            </div>
          </div>

          <!-- SEE ALL INTERVIEWS BUTTON -->

          <button type="button" class="mx-auto d-block btn" style="width: 320px; background-color:#f0f0f0; border-radius: 0px" routerLink="/all-interviews-page">See All Interviews</button>

        </div>
      </div>
    </div>
  </div>
</div>


