<!-- TITLE PAGE -->
<div class="mt-1 pb-3" style="padding-bottom: 250px;">

  <div class="container hide-mobile">
    <div class="row">
      <div class="col-sm-12 col-md-4 p-0">
        <img class="img-fluid title_photos" src="assets/photos/city.PNG" />
      </div>
      <div class="col-sm-12 col-md-4 p-0">
        <img class="img-fluid title_photos" src="assets/photos/city.PNG" />
      </div>
      <div class="col-sm-12 col-md-4 p-0">
        <img class="img-fluid title_photos" src="assets/photos/city.PNG" />
      </div>
    </div>
  </div>

  <div class="show-mobile">
    <div class="col-md-12 p-0">
      <img class="img-fluid title_photos" src="assets/photos/city.PNG" />
    </div>
  </div>

  <h1 style="text-align: center; z-index: 100;margin-left:auto;margin-right:auto;left:0;right:0;width:500px;height:500px;position: absolute; top: 350px; color:white">{{title}}</h1>
</div>

<!-- INTERVIEW CONTAINER -->
<div class="container pl-4 pr-4 pb-4" style="padding-bottom: 100px">
  <div class="row mt-4">

    <!-- FEATURED PHOTO -->
    <div class="col-md-12 col-lg-6 pb-3" style="position:relative;">
      <img class="img-fluid w-100 card-image" src="assets/photos/featured.PNG" />
      <div style="z-index: 100;width:250px;height:250px;position: absolute;bottom: 15px; color: white; font-size: 60px; left: 50px">
        <p>
          <b>Ruiqi Li</b>
        </p>
        <a routerLink="/interviews">
          <p class="nav-link mx-auto d-block btn m-0" style="border-radius: 5px; background-color: #F0F0F0; width: 250px">Read the latest interview</p>
        </a>
      </div>
    </div>


    <!-- SCROLLABLE INTERVIEW PHOTO -->
    <div class="col-md-12 col-lg-6 pb-3" style="height:100vh; overflow-y: scroll;">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <img class="img-fluid w-100 card-image" src="assets/photos/ruiqi_li.png" />
            <div style="overflow-wrap:break-word" class="mt-3 mb-3">
              <b style="font-size:25px">Ruiqi Li</b><br />
              In the future, I might
              even pass you on the streets, maybe of New York, and we probably won&#39;t even
              recognise each other. Because the person we become will never be the same as the
              the childish, foolish, crazy one in our Polaroids.
            </div>
            <img class="img-fluid w-100 card-image" src="assets/photos/katy_perry.jpg" />
            <div style="overflow-wrap:break-word" class="mt-3 mb-3">
              <b style="font-size:25px">Ruiqi Li</b><br />
              In the future, I might
              even pass you on the streets, maybe of New York, and we probably won&#39;t even
              recognise each other. Because the person we become will never be the same as the
              the childish, foolish, crazy one in our Polaroids.
            </div>
          </div>
          <div class="col-sm-6">
            <img class="img-fluid w-100 card-image" src="assets/photos/twins.jpg" />
            <div style="overflow-wrap:break-word" class="mt-3 mb-3">
              <b style="font-size:25px">Ruiqi Li</b><br />
              In the future, I might
              even pass you on the streets, maybe of New York, and we probably won&#39;t even
              recognise each other. Because the person we become will never be the same as the
              the childish, foolish, crazy one in our Polaroids.
            </div>
            <img class="img-fluid w-100 card-image" src="assets/photos/katy_perry.jpg" />
            <div style="overflow-wrap:break-word" class="mt-3 mb-3">
              <b style="font-size:25px">Ruiqi Li</b><br />
              In the future, I might
              even pass you on the streets, maybe of New York, and we probably won&#39;t even
              recognise each other. Because the person we become will never be the same as the
              the childish, foolish, crazy one in our Polaroids.
            </div>
          </div>

          <!-- SEE ALL INTERVIEWS BUTTON -->

          <button type="button" class="mx-auto d-block btn" style="width: 320px; background-color:#f0f0f0; border-radius: 0px" routerLink="/all-interviews-page">See All Interviews</button>

        </div>
      </div>
    </div>
  </div>
</div>


